html {
  font-size: 30px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px !important;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px !important;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px !important;
  }
}
@media screen and (min-width: 384x) {
  html {
    font-size: 25.6px !important;
  }
}
@media screen and (min-width: 393px) {
  html {
    font-size: 26.2px !important;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px !important;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px !important;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px !important;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px !important;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px !important;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px !important;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px !important;
  }
}
body {
  min-width: 320px;
  margin: 0 auto;
  width: 27rem;
  background-color: #0a0a14;
  background-image: url(../img/blackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
nav.group {
  font-size: 0.6rem;
  color: whitesmoke;
  display: flex;
}
nav.group span {
  color: rgba(200, 200, 200, 0.7);
  font-size: 0.8rem;
  line-height: 1rem;
}
nav.group div {
  flex-grow: 1;
  font-weight: bolder;
  text-align: center;
  line-height: 1rem;
  width: 3.75rem;
  height: 1rem;
}
nav.group div:hover {
  background-color: #f9671e;
}
div.detail {
  height: 14rem;
  color: #f4f4f4;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  line-height: 1rem;
}
div.detail div {
  width: 14rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.5rem;
}
div.detail div p > i {
  font-size: 0.5rem;
  font-weight: bold;
}
div#btnlog {
  width: 4rem;
  height: 1rem;
  border-radius: 0.3rem;
  text-align: center;
  line-height: 0.9rem;
  margin: 1rem auto;
  background-color: #f9671e;
  border: 0.06rem solid #f9671e;
  font-weight: bolder;
}
div#btnlog:hover {
  background-color: #0a0a14;
  color: #f4f4f4;
}
div#btnlog:hover:active {
  background-color: rgba(0, 0, 0, 0.4);
  color: #f9671e;
}
div#login {
  border-radius: 0.2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 13rem;
  height: 8rem;
  background-color: white;
}
div#login .left {
  float: left;
  border-radius: 0.2rem 0 0 0.2rem;
  background-image: url(../img/loginblackground.jpg);
  height: 8rem;
  width: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
div#login .left a {
  color: #f9671e;
  text-decoration: none;
  position: relative;
  left: 12.4rem;
}
div#login .left a:hover {
  opacity: 0.6;
}
div#login .right {
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}
div#login .right span {
  margin-top: 0.4rem;
  text-align: center;
  font-weight: bolder;
}
div#login .right input[name] {
  width: 5.6rem;
  height: 0.4rem;
  padding: 0.2rem;
  margin: 0.6rem 0.6rem;
  border: none;
  border-bottom: 0.02rem solid black;
  outline: none;
  font-size: 0.4rem;
}
div#login .right input[type="submit"] {
  width: 4rem;
  height: 0.8rem;
  background-color: #f9671e;
  transform: translate(1.8rem, 0.2rem);
  border-radius: 0.1rem;
  border: none;
  font-size: 0.4rem;
  font-weight: bold;
  color: #f4f4f4;
  box-shadow: 0.1rem 0.1rem 0.1rem #888;
}
div#login .right input[type="submit"]:hover {
  opacity: 0.8;
}
div#login .right div.jionIn {
  width: 6rem;
  display: flex;
  margin-top: 0.6rem;
  justify-content: center;
  font-size: 0.4rem;
  transform: translateX(1rem);
}
div#login .right div.jionIn a {
  color: #f9671e;
  text-decoration: none;
}
div#login .right div.jionIn a:hover {
  opacity: 0.8;
}
div#login .right2 input[name] {
  padding: 0.1rem 0.2rem;
  margin: 0.16rem 0.6rem;
}
.divkill {
  display: none;
}
.divlife {
  display: block;
}
