body{
    position: relative;
    background-color: rgb(10, 10, 20);
    font-size: 30px;
    // background-image: url(../img/R-C.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
}
nav.group{
    font-size: 30px;
    color: whitesmoke;
    display: flex;
    // justify-content: space-around;
    span{
        color: rgba(200,200,200,0.7);
        font-size: 40px;
        line-height: 50px;
    }
    div{
        flex-grow: 1;
        // opacity:1;
        font-weight: bolder;
        text-align: center;
        line-height: 50px;
        // border: 1px solid rgba(256,256,256,0.7);
        width: 200px;
        height: 50px;
        &:hover{
            background-color: rgb(249,103,30);
        }
    }
}
div.detail{
    height: 700px;
    color: #f4f4f4;
    background-color: rgba(0,0,0,0.4);
    position: relative;
    div{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    // #ThoughtCoding{
    //     display: none;
    // }
}
div#btnlog{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    line-height: 45px;
    margin: 50px auto;
    background-color: rgb(249,103,30);
    border: 3px solid rgb(249,103,30);
    font-weight: bolder;
    &:hover{
        background-color: rgb(10, 10, 20);
        color: #f4f4f4;
        &:active{
            background-color: rgba(0,0,0,0.4);
            color: rgb(249,103,30);
        }
    }
}
div#login{
    position: absolute;
    width: 700px;
    height: 400px;
    background-color: #4c4c4c;
    border:8px solid rgb(249,103,30);
    border-radius: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    span#none{
        font-weight: bolder;
        color: #B7B7B7;
        position: absolute;
        top: 15px;
        left: 650px;
    }
    button{
        position: absolute;
        margin: 10px 40px;
        top: 280px;
        left: 180px;
        width: 250px;
        height: 30px;
        background-color: rgb(249,103,30);
        border:none;
        border-radius: 10px;
    }
    div#form{
        span:nth-child(2n-1){
            display: block;
            float: left;
            width: 120px;
        }
        span:nth-child(2n){
            font-size: 18px;
        }
        input[type="text"],input[type="password"]{
            margin: 0px 0px 10px;
            width: 200px;
            height: 25px;
            border:none;
        }
        input[type="submit"]{
            margin: 10px 40px;
            width: 250px;
            height: 30px;
            background-color: rgb(249,103,30);
            border:none;
            border-radius: 10px;
        }
        color: #f4f4f4;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}
.divkill{
    display: none;
}